# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.pdf
*.win
Atividades e Provas em DevC/Projec. DevC++/Exerc_Resolvidos_Unicesumar.dev
Atividades e Provas em DevC/Projec. DevC++/Exerc_Resolvidos_Unicesumar.layout
Atividades e Provas em DevC/Projec. DevC++/Pesquisa em vetor.c
Atividades e Provas em DevC/Projec. DevC++/Pesquisa_Vetor.c
Atividades e Provas em DevC/Projec. DevC++/Projeto1_C.dev
Atividades e Provas em DevC/Projec. DevC++/Projeto1_C.layout
Atividades e Provas em DevC/Projec. DevC++/Projeto2.dev
Atividades e Provas em DevC/Projec. DevC++/Projeto2.layout
Atividades e Provas em DevC/Projec. DevC++/Projeto3.dev
Atividades e Provas em DevC/Projec. DevC++/Projeto3.layout
Atividades e Provas em DevC/Projec. DevC++/Projeto8.dev
Atividades e Provas em DevC/Projec. DevC++/Projeto8.layout
Atividades e Provas em DevC/Projec. DevC++/Sem Título1
Atividades e Provas em DevC/Projec. DevC++/Sem Título1.c
Atividades e Provas em DevC/Projec. DevC++/Sem Título1.cpp
Atividades e Provas em DevC/Projec. DevC++/Sem Título4
Atividades e Provas em DevC/Projec. DevC++/Sem Título5
Atividades e Provas em DevC/Projec. DevC++/Sem Título6
Atividades e Provas em DevC/Projec. DevC++/vetor.dev
